
/* === navbar css end === */
/* === sidebar css start === */
.sidebar{
  position: fixed;
  inset-inline-start: -105%;
  top: 0px;
  z-index: 30;
  height: 100vh;
  width: 200px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
:is(.dark .sidebar){
  --tw-bg-opacity: 1;
  background-color: rgb(39 49 66 / var(--tw-bg-opacity));
}
@media (min-width: 1200px){
  .sidebar{
    inset-inline-start: 0px;
    width: 170px;
  }
}
@media (min-width: 1400px){
  .sidebar{
    width: 200px;
  }
}
@media (min-width: 1650px){
  .sidebar{
    width: 312px;
  }
}

.sidebar-close-btn{
  position: absolute;
  top: 0px;
  inset-inline-end: 0.625rem;
  display: inline-flex;
  height: 1.75rem;
  width: 1.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

@media (min-width: 1200px){
  .sidebar-close-btn{
    display: none;
  }
}

.sidebar.sidebar-open{
  inset-inline-start: 0px;
}

.sidebar.active{
  width: auto;
}

@media (min-width: 1200px){
  .sidebar.active:hover{
    inset-inline-start: 0px;
  }
}

@media (min-width: 1400px){
  .sidebar.active:hover{
    width: 15.1875rem;
  }
}

@media (min-width: 1650px){
  .sidebar.active:hover{
    width: 19.5rem;
  }
}

.sidebar.active:hover .sidebar-logo img.light-logo{
  display: inline-block;
}

.dark .sidebar.active:hover .sidebar-logo img.light-logo{
  display: none;
}

.dark .sidebar.active:hover .sidebar-logo img.dark-logo{
  display: inline-block;
}

.sidebar.active:hover .sidebar-logo img.logo-icon{
  display: none;
}

.sidebar.active:hover .sidebar-menu li a span{
  display: inline-block;
}

.sidebar.active:hover .sidebar-menu li a .menu-icon{
  margin-inline-end: 0.25rem;
}

.sidebar.active:hover .sidebar-menu li.dropdown.dropdown-open .sidebar-submenu, .sidebar.active:hover .sidebar-menu li.dropdown.open .sidebar-submenu{
  display: block;
}

.sidebar.active:hover .sidebar-menu li.sidebar-menu-group-title{
  display: inline-block;
}

.sidebar.active:hover .sidebar-menu li.dropdown a::after{
  display: inline-block;
}

.sidebar.active .sidebar-logo img.light-logo, .sidebar.active .sidebar-logo img.dark-logo{
  display: none;
}

.sidebar.active .sidebar-logo img.logo-icon{
  display: inline-block;
}

.sidebar.active .sidebar-menu li a span{
  display: none;
}

.sidebar.active .sidebar-menu li a .menu-icon{
  margin-inline-end: 0px;
}

.sidebar.active .sidebar-menu li.sidebar-menu-group-title{
  display: none;
}

.sidebar.active .sidebar-menu li.dropdown.dropdown-open .sidebar-submenu, .sidebar.active .sidebar-menu li.dropdown.open .sidebar-submenu{
  display: none;
}

.sidebar.active .sidebar-menu li.dropdown a::after{
  display: none;
}

.sidebar-logo{
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: flex-start;
  border-inline-end-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(235 236 239 / var(--tw-border-opacity));
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

:is(.dark .sidebar-logo){
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.sidebar-logo img{
  max-height: 3.4375rem;
}

.sidebar-logo img.dark-logo{
  display: none;
}

.dark .sidebar-logo img.light-logo{
  display: none;
}

.dark .sidebar-logo img.dark-logo{
  display: block;
}

.sidebar-logo img.logo-icon{
  display: none;
}

.sidebar-menu-area{
  height: calc(100vh - 72px);
  overflow-y: scroll;
  border-inline-end-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(235 236 239 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

:is(.dark .sidebar-menu-area){
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.sidebar-menu-area:hover::-webkit-scrollbar-thumb{
  --tw-bg-opacity: 1;
  background-color: rgb(235 236 239 / var(--tw-bg-opacity));
}

.sidebar-menu-area::-webkit-scrollbar{
  width: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.sidebar-menu-area::-webkit-scrollbar-thumb{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.dark .sidebar-menu-area::-webkit-scrollbar{
  --tw-bg-opacity: 1;
  background-color: rgb(39 49 66 / var(--tw-bg-opacity));
}

.dark .sidebar-menu-area::-webkit-scrollbar-thumb{
  --tw-bg-opacity: 1;
  background-color: rgb(39 49 66 / var(--tw-bg-opacity));
}

.dark .sidebar-menu-area:hover::-webkit-scrollbar-thumb{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.sidebar-menu li.dropdown > a{
  position: relative;
}

.sidebar-menu li.dropdown > a::after{
  position: absolute;
  top: 50%;
  inset-inline-end: 0.75rem;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-family: remixicon;
  font-size: 1.125rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-content: "î©®";
  /* content: var(--tw-content); */
}

:is(.dark .sidebar-menu li.dropdown > a)::after{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

@media (min-width: 1650px){
  .sidebar-menu li.dropdown > a::after{
    content: var(--tw-content);
    font-size: 1.375rem;
  }
}

.sidebar-menu li.dropdown.open > a, .sidebar-menu li.dropdown.dropdown-open > a{
  --tw-bg-opacity: 1;
  background-color: rgb(72 127 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sidebar-menu li.dropdown.open > a:hover, .sidebar-menu li.dropdown.dropdown-open > a:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sidebar-menu li.dropdown.open > a::after, .sidebar-menu li.dropdown.dropdown-open > a::after{
  --tw-translate-y: -50%;
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.sidebar-menu li.dropdown.open .sidebar-submenu{
  display: block;
}

.sidebar-menu li > a.active-page{
  --tw-bg-opacity: 1;
  background-color: rgb(72 127 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sidebar-menu li > a.active-page:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sidebar-menu li a{
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1650px){
  .sidebar-menu li a{
    font-size: 1rem;
  }
}

.sidebar-menu li a:hover{
  --tw-text-opacity: 1;
  color: rgb(72 127 255 / var(--tw-text-opacity));
}

.sidebar-menu li a .menu-icon{
  margin-inline-end: 0.5rem;
  font-size: 1.125rem;
}

:is(.dark .sidebar-menu li a .menu-icon){
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

@media (min-width: 1650px){
  .sidebar-menu li a .menu-icon{
    margin-inline-end: 0.75rem;
    font-size: 1.375rem;
  }
}

.sidebar-menu li a i{
  width: 24px;
  font-size: 1.375rem;
  line-height: 1.2;
}

.sidebar-menu li a .circle-icon{
  font-size: 0.625rem;
}

.sidebar-menu .sidebar-submenu{
  display: none;
  padding-top: 0.75rem;
  padding-inline-start: 1.5rem;
  transition-property: none;
}

@media (min-width: 1650px){
  .sidebar-menu .sidebar-submenu{
    padding-inline-start: 2.75rem;
  }
}

.sidebar-menu .sidebar-submenu li.active-page a{
  --tw-bg-opacity: 1;
  background-color: rgb(228 241 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

:is(.dark .sidebar-menu .sidebar-submenu li.active-page a){
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.sidebar-menu .sidebar-submenu li a{
  padding-left: 4px;
  padding-right: 0.75rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

:is(.dark .sidebar-menu .sidebar-submenu li a){
  --tw-text-opacity: 1;
  color: rgb(235 236 239 / var(--tw-text-opacity));
}

.sidebar-menu .sidebar-menu-group-title{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

:is(.dark .sidebar-menu .sidebar-menu-group-title){
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

@media (min-width: 1650px){
  .sidebar-menu .sidebar-menu-group-title{
    font-size: 1rem;
  }
}


/* === sidebar css end === */
/* === dashboard body css start === */
.dashboard-main{
  margin-inline-start: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@media (min-width: 1200px){
  .dashboard-main{
    margin-inline-start: 12.45rem;
  }
}
@media (min-width: 1400px){
  .dashboard-main{
    margin-inline-start: 14.1875rem;
  }
}
@media (min-width: 1650px){
  .dashboard-main{
    margin-inline-start: 19.5rem;
  }
}

.dashboard-main-body {
  padding: 0.9375rem;
}

@media (min-width: 1400px){
  .dashboard-main-body{
    padding: 1.5rem;
  }
}

.dashboard-main.active{
  margin-inline-start: 5.375rem;
}

/* === dashboard body css end === */
/* === footer css start === */
.d-footer{
  margin-top: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}
:is(.dark .d-footer){
  --tw-bg-opacity: 1;
  background-color: rgb(39 49 66 / var(--tw-bg-opacity));
}


/* === footer css end === */


/* === navbar css start === */
.navbar-header{
  position: sticky;
  top: 0px;
  z-index: 20;
  height: 4.5rem;
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
:is(.dark .navbar-header){
  --tw-bg-opacity: 1;
  background-color: rgb(39 49 66 / var(--tw-bg-opacity));
}

.sidebar-toggle,
.sidebar-mobile-toggle{
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.sidebar-toggle .icon{
  font-size: 28px;
}

:is(.dark .sidebar-toggle .icon){
  --tw-text-opacity: 1;
  color: rgb(235 236 239 / var(--tw-text-opacity));
}

.sidebar-mobile-toggle .icon{
  font-size: 1.375rem;
}

:is(.dark .sidebar-mobile-toggle .icon){
  --tw-text-opacity: 1;
  color: rgb(235 236 239 / var(--tw-text-opacity));
}

.sidebar-toggle{
  display: none;
}

@media (min-width: 1200px){
  .sidebar-toggle{
    display: inline-block;
  }
}

.sidebar-toggle.active .icon.non-active{
  display: none;
}

.sidebar-toggle.active .icon.active{
  display: inline-block;
}

.sidebar-toggle .icon.active{
  display: none;
}

.sidebar-mobile-toggle{
  display: inline-block;
}

@media (min-width: 1200px){
  .sidebar-mobile-toggle{
    display: none;
  }
}

.navbar-search{
  position: relative;
  display: none;
}

@media (min-width: 992px){
  .navbar-search{
    display: inline-block;
  }
}

.navbar-search input{
  height: 2.5rem;
  width: 24.25rem;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 250 / var(--tw-bg-opacity));
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-inline-start: 2.625rem;
  padding-inline-end: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

:is(.dark .navbar-search input){
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.navbar-search input:focus{
  --tw-border-opacity: 1;
  border-color: rgb(72 127 255 / var(--tw-border-opacity));
}

.navbar-search .icon{
  position: absolute;
  top: 50%;
  inset-inline-start: 0.9375rem;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 1.125rem;
  --tw-text-opacity: 1;
  color: rgb(39 49 66 / var(--tw-text-opacity));
}

:is(.dark .navbar-search .icon){
  --tw-text-opacity: 1;
  color: rgb(235 236 239 / var(--tw-text-opacity));
}